.card {
  max-width: 325px;

  .header {
    height: 140px;
  }

  .media {
    height: 355px;
    width: 325px;
    background-size: contain;
    align-items: center;
    justify-content: center;
  }

  .expand {
    transform: rotate(0deg);
    margin-left: auto;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .expandOpen {
    transform: rotate(180deg),
  }

  .favourite {
    color: #6b778c
  }

  .favouriteSet {
    color: #FF0000
  }
}